<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="./css/site.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <script type="application/javascript" src="./js/libs/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="./js/script.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="information">
                <h4 class="text-welcome">Hi, I'm Doanh. I'm a developer. Welcome to my site!</h3>
                    <div class="row">
                        <img src="./images/doanh.jpg" width="250" alt="Ho Ngoc Doanh" />
                    </div>
                    <a href="#" class="btn-view-profile">View my profile</a>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <nav class="menu">
            <ul>
                <li><a class="section-link" href="#information">Information</a></li>
                <li><a class="section-link" href="#education">Education</a></li>
                <li><a class="section-link" href="#experiences">Experiences</a></li>
                <li><a class="section-link" href="#certificates">Certificates</a></li>
                <li><a class="section-link" href="#skills">Skills</a></li>
                <li><a class="section-link" href="#additional-information">Additional information</a></li>
                <li><a class="section-link" href="#touch-in-me">Touch in me</a></li>
            </ul>
        </nav>
        <section id="information">
            <h1>Information</h1>
            <div class="container">
                <div class="col-first">
                    <img class="profile-image" src="./images/doanh.jpg">
                </div>
                <div class="col-second">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
                </div>
            </div>
        </section>
        <section id="education">
            <h1>Education</h1>
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            </div>
        </section>
        <section id="experiences">
            <h1>Experiences</h1>
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            </div>
        </section>
        <section id="certificates">
            <h1>Certificates</h1>
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            </div>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            </div>
        </section>
        <section id="additional-information">
            <h1>Additional information</h1>
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            </div>
        </section>
        <section id="touch-in-me">
            <h1>Touch in me</h1>
        </section>
    </div>

    <footer>
        <h5>DoanhHN 2017</h5>
    </footer>
    <div id="add-moment">
        <a href="#" id="plus-ex" class="plus"><img src="./images/plus.png" width="60" height="60" alt="Add Moment"></a>
        <ul id="moment-buttons">
            <li class="icon-picture">
                <a href="#"><img src="./images/icon-picture.png" class="icon-item" alt="Picture"></a>
            </li>
            <li class="icon-people">
                <a href="#"><img src="./images/icon-people.png" class="icon-item" alt="People"></a>
            </li>
            <li class="icon-place">
                <a href="#"><img src="./images/icon-place.png" class="icon-item" alt="Place"></a>
            </li>
            <li class="icon-music">
                <a href="#"><img src="./images/icon-music.png" class="icon-item" alt="Music"></a>
            </li>
            <li class="icon-thought">
                <a href="#"><img src="./images/icon-thought.png" class="icon-item" alt="Thought"></a>
            </li>
            <li class="icon-sleep">
                <a href="#"><img src="./images/icon-sleep.png" class="icon-item" alt="Sleep"></a>
            </li>
        </ul>
    </div>
</body>

</html>